$def with( )

<div class="content">
  <h2>Contact Me</h2>
  <p>You can reach me at:</p>
  <ul>
    <li><a href="mailto:hughes.thad@gmail.com">Email: hughes.thad@gmail.com</a></li>
    <li><a href="https://plus.google.com/115864076077263010640">Google+/Hangouts</a></li>
    <li>If it's in regards to MetalCow Robotics or Power Surge, it may be better to email <a href="mailto:teammetalcow@gmail.com">teammetalcow@gmail.com</a>.</li>
    <li>Drop a comment on an article!</li>
  </ul>

</div>